<!doctype html>
<html>
	<head>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<title>{{bio.firstName}} {{bio.lastName}}</title>
	
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css">
	
	<style>
	@import url(
		http://fonts.googleapis.com/css?family=Lato:400,700
	);
	body {
		font-family: Lato, sans-serif;
		color: #2c3e50;
		margin: 0;
		margin-bottom: 80px;
	}
	a {
		color: #2ecc71;
	}
	a:focus,
	a:hover {
		color: #2ecc71;
		text-decoration: none;
	}
	p {
		line-height: 1.5;
		margin: 0;
		text-align: justify;
	}
	p + p {
		margin-top: 10px;
	}
	h1,
	h2,
	h3,
	h4 {
		margin-top: 0;
	}
	blockquote {
		border-left: 5px solid #e7e9ec;
		font-size: 14px;
	}
	blockquote p {
		text-align: left;
	}
	ul,
	li {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li ul {
		margin-left: 15px;
	}
	.container {
		max-width: 750px;
		padding: 0 30px;
	}
	#wip {
		background: #f1c40f;
		color: #fff;
		font-size: 12px;
		font-weight: bold;
		padding: 10px 16px;
		position: absolute;
		right: 50px;
		top: 0px;
		word-spacing: 2px;
	}
	#wip:hover {
		opacity: .8;
	}
	#wip .octicon {
		margin-right: 8px;
	}
	#header {
		background: #f4f6f6;
		padding: 70px 0;
	}
	#header h2 {
		font-size: 28px;
		color: #95a5a6;
	}
	#content {
		padding: 50px 0;
	}
	#content h3 {
		margin-top: -3px;
		color: #f1c40f;
	}
	#content h4 {
		margin-bottom: 4px;
	}
	#content aside {
		padding-right: 20px;
		text-align: right;
	}
	#content strong {
		display: block;
	}
	#content .row + .row {
		margin-top: 40px;
	}
	#content .item {
		overflow: hidden;
	}
	#content .item + .item {
		margin-top: 32px;
	}
	#contact li:first-child {
		font-weight: bold;
	}
	#work h4 {
		border-top: 1px solid #f4f6f6;
		height: 20px;
		margin-top: 12px;
		margin-bottom: -2px;
		position: relative;
	}
	#work h4 span,
	#work h4 a {
		background: #fff;
		position: absolute;
	}
	#work h4 span {
		padding-right: 20px;
		margin-top: -12px;
	}
	#work h4 a {
		font-size: 14px;
		margin-top: -10px;
		padding-left: 20px;
		right: 0;
	}
	#work strong {
		margin-bottom: 10px;
	}
	#skills h4 {
		margin-bottom: 4px;
	}
	#skills li {
		line-height: 1.8;
	}
	#skills li li:before {
		content: "\f052";
		float: left;
		font: 13px Octicons;
		opacity: .1;
		margin: 6px 15px 0 0;
	}
	
	@media (max-width: 768px) {
		#wip {
			top: 0;
			margin-left: -78px;
			position: absolute;
			right: inherit;
			width: 156px;
		}
		#header {
			text-align: center;
			padding: 70px 0 50px;
		}
		#content aside {
			padding-right: 0;
			text-align: left;
		}
		#contact ul + ul {
			margin-top: 1em;
		}
	}
	</style>
	
	</head>
	<body>
	
	<header id="header">
		<div class="container">
			<a href="https://github.com/erming/jsonresume-theme-flat" id="wip">
				<span class="octicon octicon-mark-github"></span>
				Work in progress
			</a>
			<div class="row">
				<div class="col-sm-4"></div>
				<div class="col-sm-8">
					<h1>{{bio.firstName}} {{bio.lastName}}</h1>
					<h2>{{bio.location.city}}</h2>
				</div>
			</div>
		</div>
	</header>
	<div id="content">
		<div class="container">
			<section id="about" class="row">
				<aside class="col-sm-4">
					<h3>About</h3>
				</aside>
				<div class="col-sm-8">
					<p>{{bio.summary}}</p>
				</div>
			</section>
			<section id="contact" class="row">
				<aside class="col-sm-4">
					<h3>Contact</h3>
				</aside>
				<div class="col-sm-8">
					<div class="row">
					{{#bio.email}}
					<ul class="col-sm-6">
						<li>Email</li>
						<li>{{bio.email.personal}}</li>
					</ul>
					{{/bio.email}}
					{{#bio.phone}}
					<ul class="col-sm-6">
						<li>Phone</li>
						<li>{{bio.phone.personal}}</li>
					</ul>
					{{/bio.phone}}
					</div>
				</div>
			</section>
			{{#work.length}}
			<section id="work" class="row">
				<aside class="col-sm-4">
					<h3>Work</h3>
				</aside>
				<div class="col-sm-8">
				{{#work}}
				<div class="item">
					<h4>
						<span>{{company}}</span>
						<a href="{{website}}">{{website}}</a>
					</h4>
					<strong>{{position}}</strong>
					<p>{{summary}}</p>
				</div>
				{{/work}}
				</div>
			</section>
			{{/work.length}}
			{{#education.length}}
			<section id="education" class="row">
				<aside class="col-sm-4">
					<h3>Education</h3>
				</aside>
				<div class="col-sm-8">
				{{#education}}
				<div class="item">
					<h4>{{institution}}</h4>
					<strong>{{area}}, {{studyType}}</strong>
				</div>
				{{/education}}
				</div>
			</section>
			{{/education.length}}
			{{#skills.length}}
			<section id="skills" class="row">
				<aside class="col-sm-4">
					<h3>Skills</h3>
				</aside>
				<div class="col-sm-8">
					<div class="row">
						<ul>
						{{#skills}}
						<li class="col-xs-6">
							<h4>{{name}}</h4>
							<ul>
							{{#keywords}}
								<li>{{.}}</li>
							{{/keywords}}
							</ul>
						</li>
						{{/skills}}
						</ul>
					</div>
				</div>
			</section>
			{{/skills.length}}
			{{#references.length}}
			<section id="references" class="row">
				<aside class="col-sm-4">
					<h3>References</h3>
				</aside>
				<div class="col-sm-8">
					{{#references}}
					<blockquote>
						<p>{{reference}}</p>
						<p><strong>— {{name}}</strong></p>
					</blockquote>
					{{/references}}
				</div>
			</section>
			{{/references.length}}
		</div>
	</div>
	
	</body>
</html>
