<!doctype html>
<html>
	<head>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
	
	<title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css">
	
	<style type="text/css">
	{{css~}}
	</style>
	
	</head>
	<body>
	
	<header id="header">
		<div class="container">
			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-9">
					{{#resume.basics}}
					{{#name}}
					<h1>
						{{.}}
					</h1>
					{{/name}}
					{{#label}}
					<h2>
						{{.}}
					</h2>
					{{/label}}
					{{/resume.basics}}
				</div>
			</div>
		</div>
	</header>
	<div id="content" class="container">

	{{#resume.basics}}
	<section id="contact" class="row">
		<aside class="col-sm-3">
			<h3></h3>
		</aside>
		<div class="col-sm-9">
			<div class="row">
			{{#email}}
			<div class="col-sm-6">
				<strong>Email</strong>
				<div class="email">{{.}}</div>
			</div>
			{{/email}}
			{{#phone}}
			<div class="col-sm-6">
				<strong>Phone</strong>
				<div class="phone">{{.}}</div>
			</div>
			{{/phone}}
			{{#website}}
			<div class="col-sm-6">
				<strong>Website</strong>
				<div class="website">{{.}}</div>
			</div>
			{{/website}}
			</div>
		</div>
	</section>
	<section id="about" class="row">
		<aside class="col-sm-3">
			<h3>About</h3>
		</aside>
		<div class="col-sm-9">
		{{#summary}}
			<p>{{.}}</p>
		{{/summary}}
		</div>
	</section>
	{{#if profiles.length}}
	<section id="profiles" class="row">
		<aside class="col-sm-3">
			<h3>Profiles</h3>
		</aside>
		<div class="col-sm-9">
			<div class="row">
				{{#profiles}}
				<div class="col-sm-6">
					{{#network}}
					<strong class="network">
						{{.}}
					</strong>
					{{/network}}
					{{#username}}
					<div class="username">
						{{.}}
					</div>
					{{/username}}
					{{#url}}
					<div class="url">
						<a href="{{.}}">{{.}}</a>
					</div>
					{{/url}}
				</div>
				{{/profiles}}
			</div>
		</div>
	</section>
	{{/if}}
	{{/resume.basics}}

	{{#if resume.work.length}}
	<section id="work" class="row">
		<aside class="col-sm-3">
			<h3>Work</h3>
		</aside>
		<div class="col-sm-9">
			<div class="row">
			{{#each resume.work}}
			<div class="col-sm-12">
				{{#company}}
				<h3 class="name">
					{{.}}
				</h3>
				{{/company}}
				<div class="date">
					{{#startDate}}
					<span class="startDate">
						{{.}}
					</span>
					{{/startDate}}
					{{#if endDate}}
					<span class="endDate">
						- {{endDate}}
					</span>
					{{else}}
					<span class="endDate">
						- Present
					</span>
					{{/if}}
				</div>
				{{#position}}
				<div class="position">
					{{.}}
				</div>
				{{/position}}
				{{#website}}
				<div class="website">
					<a href="{{.}}">{{.}}</a>
				</div>
				{{/website}}
				{{#summary}}
				<div class="summary">
					<p>{{.}}</p>
				</div>
				{{/summary}}
				{{#if highlights.length}}
				<ul class="highlights">
					{{#highlights}}
					<li>{{.}}</li>
					{{/highlights}}
				</ul>
				{{/if}}
			</div>
			{{/each}}
			</div>
		</div>
	</section>
	{{/if}}

	{{#if resume.volunteer.length}}
	<section id="volunteer" class="row">
		<aside class="col-sm-3">
			<h3>Volunteer</h3>
		</aside>
		<div class="col-sm-9">
			<div class="row">
			{{#each resume.volunteer}}
			<div class="col-sm-12">
				{{#organization}}
				<h3 class="company">
					{{.}}
				</h3>
				{{/organization}}
				<div class="date">
					{{#startDate}}
					<span class="startDate">
						{{.}}
					</span>
					{{/startDate}}
					{{#if endDate}}
					<span class="endDate">
						- {{endDate}}
					</span>
					{{else}}
					<span class="endDate">
						- Present
					</span>
					{{/if}}
				</div>
				{{#position}}
				<div class="position">
					{{.}}
				</div>
				{{/position}}
				{{#website}}
				<div class="website">
					<a href="{{.}}">{{.}}</a>
				</div>
				{{/website}}
				{{#summary}}
				<div class="summary">
					<p>{{.}}</p>
				</div>
				{{/summary}}
				{{#if highlights.length}}
				<ul class="highlights">
					{{#highlights}}
					<li>{{.}}</li>
					{{/highlights}}
				</ul>
				{{/if}}
			</div>
			{{/each}}
			</div>
		</div>
	</section>
	{{/if}}
	
	{{#if resume.education.length}}
	<section id="education" class="row">
		<aside class="col-sm-3">
			<h3>Education</h3>
		</aside>
		<div class="col-sm-9">
			<div class="row">
			{{#each resume.education}}
			<div class="col-sm-12">
				<div class="date">
					{{#startDate}}
					<span class="startDate">
						{{.}}
					</span>
					{{/startDate}}
					{{#if endDate}}
					<span class="endDate">
						- {{endDate}}
					</span>
					{{else}}
					<span class="endDate">
						- Present
					</span>
					{{/if}}
				</div>
				{{#institution}}
				<div class="institution">
					{{.}}
				</div>
				{{/institution}}
				{{#area}}
				<div class="area">
					{{.}}
				</div>
				{{/area}}
				{{#studyType}}
				<div class="studyType">
					{{.}}
				</div>
				{{/studyType}}
				{{#gpa}}
				<div class="gpa">
					GPA: {{.}}
				</div>
				{{/gpa}}
				{{#if courses.length}}
				<ul class="courses">
					{{#courses}}
					<li>{{.}}</li>
					{{/courses}}
				</ul>
				{{/if}}
			</div>
			{{/each}}
			</div>
		</div>
	</section>
	{{/if}}
	
	{{#if resume.awards.length}}
	<section id="awards" class="row">
		<aside class="col-sm-3">
			<h3>Awards</h3>
		</aside>
		<div class="col-sm-9">
			<div class="row">
			{{#each resume.awards}}
			<div class="col-sm-12">
				{{#title}}
				<div class="title">
					{{.}}
				</div>
				{{/title}}
				{{#date}}
				<div class="date">
					{{.}}
				</div>
				{{/date}}
				{{#awarder}}
				<div class="awarder">
					{{.}}
				</div>
				{{/awarder}}
				{{#summary}}
				<div class="summary">
					{{.}}
				</div>
				{{/summary}}
			</div>
			{{/each}}
			</div>
		</div>
	</section>
	{{/if}}
	
	{{#if resume.publications.length}}
	<section id="publications" class="row">
		<aside class="col-sm-3">
			<h3>Publications</h3>
		</aside>
		<div class="col-sm-9">
			<div class="row">
			{{#each resume.publications}}
			<div class="col-sm-12">
				{{#name}}
				<div class="name">
					{{.}}
				</div>
				{{/name}}
				{{#publisher}}
				<div class="publisher">
					{{.}}
				</div>
				{{/publisher}}
				{{#releaseDate}}
				<div class="releaseDate">
					{{.}}
				</div>
				{{/releaseDate}}
				{{#website}}
				<div class="website">
					<a href="{{.}}">Link</a>
				</div>
				{{/website}}
				{{#summary}}
				<div class="summary">
					{{.}}
				</div>
				{{/summary}}
			</div>
			{{/each}}
			</div>
		</div>
	</section>
	{{/if}}
	
	{{#if resume.skills.length}}
	<section id="skills" class="row">
		<aside class="col-sm-3">
			<h3>Skills</h3>
		</aside>
		<div class="col-sm-9">
			<div class="row">
			{{#each resume.skills}}
			<div class="col-sm-6">
				{{#name}}
				<div class="name">
					{{.}}
				</div>
				{{/name}}
				{{#level}}
				<div class="level">
					{{.}}
				</div>
				{{/level}}
				{{#if keywords.length}}
				<ul class="keywords">
					{{#keywords}}
					<li>{{.}}</li>
					{{/keywords}}
				</ul>
				{{/if}}
			</div>
			{{/each}}
			</div>
		</div>
	</section>
	{{/if}}

	{{#if resume.languages.length}}
	<section id="languages" class="row">
		<aside class="col-sm-3">
			<h3>Languages</h3>
		</aside>
		<div class="col-sm-9">
			<div class="row">
			{{#each resume.languages}}
			<div class="col-sm-4">
				{{#language}}
				<div class="language">
					{{.}}
				</div>
				{{/language}}
				{{#fluency}}
				<div class="fluency">
					{{.}}
				</div>
				{{/fluency}}
			</div>
			{{/each}}
			</div>
		</div>
	</section>
	{{/if}}

	{{#if resume.interests.length}}
	<section id="interests" class="row">
		<aside class="col-sm-3">
			<h3>Interests</h3>
		</aside>
		<div class="col-sm-9">
			<div class="row">
			{{#each resume.interests}}
			<div class="col-sm-6">
				{{#name}}
				<div class="name">
					{{.}}
				</div>
				{{/name}}
				{{#if keywords.length}}
				<ul class="keywords">
					{{#keywords}}
					<li>{{.}}</li>
					{{/keywords}}
				</ul>
				{{/if}}
			</div>
			{{/each}}
			</div>
		</div>
	</section>
	{{/if}}
	
	{{#if resume.references.length}}
	<section id="references" class="row">
		<aside class="col-sm-3">
			<h3>References</h3>
		</aside>
		<div class="col-sm-9">
			<div class="row">
			{{#each resume.references}}
			<div class="col-sm-12">
				{{#reference}}
				<blockquote class="reference">
					{{.}}
				</blockquote>
				{{/reference}}
				{{#name}}
				<div class="name">
					— {{.}}
				</div>
				{{/name}}
			</div>
			{{/each}}
			</div>
		</div>
	</section>
	{{/if}}

	</div>
	
	</body>
</html>
